.check-btn{
    background-color: rgb(201, 197, 197);
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    color: white;
    border: 0px;
}
.check-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: rgb(175, 170, 170);
}